:root{
    --main-font: "Ovo", serif;
    --primary-color: #7D4F50;
    --secondary-color: #CC8B86;
    --accent-color1: #D1BE9C;
    --accent-color2: #F9EAE1;
    --accent-color3: #AA998F;
}
*{
    margin: 0 auto;
    padding: 5px;
    font-family: var(--main-font);
    box-sizing: border-box;
}
h1{
    background-color: var(--primary-color);
    display: grid;
}
fieldset{
  display: grid;
  justify-content: left;
}
label{
  font-weight: 700;
  display: grid;
  justify-content: left;
}

/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
    display: flex;
    align-items: center;
    width: 150px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10px auto;
    position: relative;
  }
/* hide the inputs */
.star-rating input {
    display: none;
  }
/* set properties of all labels */
.star-rating > label {
    width: 10px;
    height: 10px;
    font-size: 30px;
    transition: 0.2s ease;
    color: var(--primary-color);
  }
/* give label a hover state */
.star-rating label:hover {
    color: var(--secondary-color);
    transition: 0.2s ease;
  }
.star-rating label:active::before {
    transform:scale(1.1);
  }
  
/* set shape of unselected label */
.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 2px;
  }
/* set full star shape for checked label and those that come after it */
.star-rating input:checked ~ label:before {
    content:'\2605';
  }
  
@-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 2px;
    }
  }  
footer{
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent-color2);
}