:root{
    --primary-color: green;
    --secondary-color: orange;
    --accent-color: white;
    --main-font: "Cormorant Unicase", serif;
    --secondary-font: "Cormorant Unicase"; 
    --border-style-1: 3px solid orange;
}

*{
    margin: 0 auto;
    font-family: var(--main-font);
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    border-bottom: var(--border-style-1);
    font-family: "Cormorant Unicase", serif;
    font-weight: 700;
    padding: 10px;
}

h2{
    background-color: var(--secondary-color);
    text-align: center;
}

footer{
    display: grid;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.hero img{
    width: 100%;
    height: auto;
}
.data div{
    display: flex;
}
.data div span{
    flex: 1;
}
.data div span:first-of-type{
    text-align: right;
    padding-right: 5px;
}

.weather div{
    display: flex;
}
.weather div span{
    flex: 1;
}
.weather div span:first-of-type{
    text-align: right;
    padding-right: 5px;
}
.weather div span:last-of-type{
    text-align: left;
}
.weather-box img{
    display: flex;
}
.weather-box h2 span{
    display: none;
}
